{% include competition-banner.html %}
<header>
	<div class="container">
		<div class="row">
                    <div class="col-xs-12 text-center">
                        <div id="tb-head">
                            <h1><a href="">Thunderbit</a></h1>
                            <h2 class="lead hidden-xs">A web application for digital assets management</h2>
                        </div>
                        <div id="logo"><img src="{{ site.baseurl }}/images/logo-wb.png" alt="Thunderbit logo"></div>
                    </div>
				<ul class="social-buttons list-unstyled list-inline">
					<li><a href="http://github.com/thunderbit/thunderbit" title="Fork us on GitHub"><i class="fa fa-github fa-4x"></i></a><li>
					<li><a href="http://twitter.com/thunderbitdev" title="Follow us on Twitter"><i class="fa fa-twitter fa-4x"></i></a><li>
					<li><a href="{{ site.baseurl }}/feed.xml" title="Subscribe to the news feed"><i class="fa fa-rss fa-4x"></i></a><li>
					<li><a href="{{ site.baseurl }}/blog" title="Blog"><i class="fa fa-book fa-4x"></i></a><li>
				</ul>
		</div>
	</div>
</header>
