<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Thunderbit</h1>
				<p class="lead hidden-xs">Una aplicación web para la gestión de recursos digitales</p>
				<ul class="social-buttons list-unstyled list-inline">
					<li><a href="http://github.com/thunderbit/thunderbit" title="Clónanos en GitHub"><i class="fa fa-github fa-4x"></i></a><li>
					<li><a href="http://twitter.com/thunderbitdev" title="Síguenos en Twitter"><i class="fa fa-twitter fa-4x"></i></a><li>
				</ul>
			</div>
		</div>
	</div>
</header>