<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Thunderbit</title>

	<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/css/styles.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/feed.xml" rel="alternate" type="application/rss+xml" title="Thunderbit RSS"  />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>
