<section class="release-download-banner">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <p class="lead">Looks interesting? Well, you can download a packaged functional distribution by clicking the button below.</p>
                <p><a href="https://github.com/thunderbit/thunderbit/releases/download/v0.1/thunderbit-0.1.zip" class="btn btn-danger btn-lg">Download</a></p>
            </div>
        </div>
    </div>
</section>