---
layout: basic
title: Blog
permalink: /blog/
author: all
---
{% include blog-header.html %}
<section id="posts-container">
	<div class="container">
		<div class="row">
			<header id="header" class="text-center">
				<h2><i class="fa fa-book"></i> Blog</h2>
			</header><!-- /header -->
		</div>
		{% for post in site.posts %}
		<article>
			<div class="row">
				<div class="col-xs-12">
					<header id="header" class="">
						<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
						<p><i class="fa fa-calendar"></i> {{ post.date | date_to_string}}</p>
					</header><!-- /header -->
					<div class="post-excerpt">{{ post.excerpt }}</div>
					<p><a href="{{ site.baseurl }}{{ post.url }}">Read more...</a></p>
					<p><a href="{{ site.baseurl }}{{ post.url }}#disqus_thread">Read comments...</a></p>
				</div>
			</div>
		</article>
		{% endfor %}
	</div>
</section>
