---
layout: basic
---
{% include blog-header.html %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
        <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
        <p><i class="fa fa-calendar"></i> {{ page.date | date_to_string}}</p>
        </div>
        <div class="post-content">{{ content }}</div>
        {% include social-share.html %}
        {% if page.comments %}
          {% include disqus-universal-code.html %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
