@import helper._
@import play.i18n._
@import be.objectify.deadbolt.java.views.html.subjectPresent

@templates = {
<script type="text/template" id="item-template">
    <td>
        <a href="download/<%- id %>"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> <%- name %></a>
    </td>
    <td>
        <ul class="list-inline list-unstyled tags-container">
            <% for(var tag in tags) { %>
            <li><span class="label label-info tag"><%= tags[tag].name %></span></li>
            <% } %>
        </ul>
    </td>
    <td>
        <%
        if(fileSize < 1024) print(fileSize.toFixed(2) + ' b');
        else if(fileSize < 1048576) print((fileSize / 1024).toFixed(2) + ' kB');
        else if(fileSize < 1073741824) print((fileSize / (1024 * 1024)).toFixed(2) + ' mB');
        else print((fileSize / (1024 * 1024 * 1024)).toFixed(2) + ' gB');
        %>
    </td>
    <td>
        <% print(new Date(uploadDate).toDateString()); %>
    </td>
    @subjectPresent() {
    <td>
        <button type="button" class="btn btn-danger btn-xs delete-btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <span class="hidden-xs">@Messages.get("delete")</span></button>
    </td>
    }
</script>
<script type="text/template" id="tag-template">
    <span class="label label-info tag"><%- name %> <a role="button" href="#" class="delete-btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></span>
</script>
<script type="text/template" id="alert-template">
    <div class="alert alert-<%- type %> alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <p><%- message %></p>
    </div>
</script>
}

@styles = {
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("vendor/typeahead.js-bootstrap3.less/0.2.3/typeahead.css")">
}

@scripts = {
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("underscore-min.js"))"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("backbone-min.js"))"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("typeahead.bundle.min.js"))"></script>
<script src="@routes.Assets.versioned("javascripts/models/item.js")"></script>
<script src="@routes.Assets.versioned("javascripts/models/tag.js")"></script>
<script src="@routes.Assets.versioned("javascripts/collections/items.js")"></script>
<script src="@routes.Assets.versioned("javascripts/collections/tags.js")"></script>
<script src="@routes.Assets.versioned("javascripts/views/item-view.js")"></script>
<script src="@routes.Assets.versioned("javascripts/views/tag-view.js")"></script>
<script src="@routes.Assets.versioned("javascripts/views/app-view.js")"></script>
<script src="@routes.Assets.versioned("javascripts/app.js")"></script>
<script src="@routes.Assets.versioned("javascripts/scripts.js")"></script>

<script type="text/javascript">
// Messages
var messages = {};
messages['completed'] = "@Messages.get("completed")";
messages['uploadError'] = "@Messages.get("uploadError")";
</script>

@javascriptRouter("jsRoutes")(
    routes.javascript.Storage.upload,
    routes.javascript.Tags.findByName
)
}

@main(Messages.get("welcome"), styles, scripts, templates) {
<div class="container thunderbit-app">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 search-box">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></span>
                    <input type="text" class="form-control input-lg tags-input typeahead" placeholder="@Messages.get("searchBoxText")" autocomplete="off" spellcheck="false">
                </div>
            </div>
            <ul class="list-unstyled list-inline tags-container"></ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        @subjectPresent() {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody class="table items-container">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade about-modal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@Messages.get("close")"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="aboutModalLabel">@Messages.get("aboutThunderbit")</h4>
            </div>
            <div class="modal-body text-center">
                <p>@Messages.get("moreAboutThunderbit")</p>
                <p><a href="http://thunderbit.github.io/thunderbit">@Messages.get("visitWebsite")</a> | <a href="http://github.com/thunderbit/thunderbit">@Messages.get("visitProjectOnGithub")</a></p>
                <p>Copyright © 2016 Thunderbit Team </p>
                <p>@Messages.get("copyrightStatement")</p>
            </div>
        </div>
    </div>
</div>

@subjectPresent() {
<div class="modal fade upload-file-modal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form enctype="multipart/form-data" class="form-horizontal upload-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="@Messages.get("close")"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="uploadFileModalLabel">@Messages.get("uploadFile")</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="file" class="col-sm-2 control-label">Fichero</label>
                        <div class="col-sm-10">
                            <input type="file" name="file" id="file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tags" class="col-sm-2 control-label">@Messages.get("tags")</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control tags-input typeahead" autocomplete="off" spellcheck="false" id="tags">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default add-tag-btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <ul class="list-inline list-unstyled tags-container"></ul>
                        </div>
                    </div>
                    <div class="progress upload-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            <span class="sr-only">0% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary upload-btn" data-uploading-text="@Messages.get("uploading")" autocomplete="off"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> @Messages.get("upload")</button>
                    <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> @Messages.get("cancel")</button>
                </div>
            </form>
        </div>
    </div>
</div>
}

}
